.food {
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    float: left;
    width: 190px;
    position: relative;
}
.food img {
    width: 100%;
    height: auto;
}

.button {
    width: 100%;
    background-color: #008CBA; 
    border: none;
    border-radius: 0 0 10px 10px ;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    position: relative;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
