.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
  }
  /* @media screen and (max-width: 700px) {
    .foods-container-row {   
      flex-direction: column;
    }
  }   */